{%- extends 'base.html' -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="groupchat-action-text" style="text-align: center">
            <div class="groupchat-action" style="padding-bottom: 20px" align="center">
                <h1 class="section-caption" id="remove-error-h1">Failed to remove member</h1>
            </div>
            <p>
                Member {{ email }} could not be removed from the group chat.<br/>They might have already been removed,
                they've left on their own, they're the only owner, or you don't have the sufficient permissions to
                remove the member.
            </p>
            <p id="return-p">
                <a href="/groupchats/{{ chat_id }}/members">Return to members page</a>
            </p>
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>
{%- endblock -%}