{%- extends 'base.html' -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="groupchat-content">
            {%- if doesnotexist -%}
            <div class="errors-warn">
                <div id="errors">
                    The group chat you tried to access does not exist or you do not have a valid membership for it.
                </div>
            </div>
            {%- elif declined -%}
            <div class="no-errors">
                Group chat invite successfully declined!
            </div>
            {%- endif -%}
            <div class="groupchat-text"
                 style="display: inline-block; text-align: left; padding-left: 1.5em; margin-top: 3%; width: 50%">
                <h1 id="groupchats-hdr">Group Chats</h1>
                <p id="groupchats-p">
                    Escargot's group chats allow you to open up a persistent, private chat on any supported frontend
                    that you can invite others to. Members in these group chats can have the roles of either an owner,
                    administrator, or member. Anyone can view the list of accepted users and leave the group at any
                    time. Owners and administrators can also invite and remove members along with viewing the list of
                    members pending approval.
                    <br/><br/>

                    {%- if logged_in -%}
                    Below is the list of group chats you are in and ones pending your approval:
                    {%- else -%}
                    Currently, the only frontend that natively supports group chats is the MSN frontend, starting with
                    WLM 2009 (MSNP18). It natively supports creation of group chats, viewing the member roster, sending
                    invites to others and accepting/declining them, sending and receiving messages, blocking group
                    chats, and leaving them (so far this has only been confirmed for members that aren't owners).
                    However, the ability to manage existing members isn't natively supported by that client, so you'll
                    have to log on here to do so. We plan to support group chats on other frontends in the future.
                    {%- endif -%}
                </p>
            </div>
            <div class="groupchats-img" style="margin-top: 3%; float: right; padding-right: 3em">
                <img src="/static/groupchats.png" width="250"/>
            </div>

            {%- if logged_in -%}
            {%- if pending_groupchats or accepted_groupchats -%}
            {%- if pending_groupchats -%}
            <div class="groupchats-item pending">
                <h2>Pending</h2>

                <div class="groupchat-tbl tbl-item">
                    <div class="tbl-content">
                        {%- for name, chat_id, membership in pending_groupchats -%}
                        <div class="tbl-cont">
                            <div class="group section">
                                <div class="span1-2 tbl-item groupchat-icon"></div>
                                <div class="span2-2 tbl-item groupchat-info" style="top: -16px">
                                    <p class="groupchat-name">
                                        <strong>{{ name }}</strong>
                                        <br/>
                                        <small>
                                            {%- if membership['invite_message'] -%}<em>{{ membership['invite_message']
                                            }}</em> -&nbsp;{%- if membership['inviter_name'] and
                                            membership['inviter_name'] != membership['inviter_email'] -%}{{
                                            membership['inviter_name'] }} ({{ membership['inviter_email'] }}){%- else
                                            -%}{{ membership['inviter_email'] }}{%- endif -%}{%- else -%}Invited by&nbsp;{%-
                                            if membership['inviter_name'] and membership['inviter_name'] !=
                                            membership['inviter_email'] -%}{{ membership['inviter_name'] }} ({{
                                            membership['inviter_email'] }}){%- else -%}{{ membership['inviter_email']
                                            }}{%- endif -%}{%- endif -%}
                                        </small>
                                    </p>

                                    <p class="groupchat-actions">
                                        <small>
                                            <a href="/groupchats/acceptInvite/{{ chat_id }}">Accept invitation</a>
                                            |
                                            <a href="/groupchats/declineInvite/{{ chat_id }}">Decline invitation</a>
                                            |
                                            <a href="/groupchats/{{ chat_id }}/members">View members</a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            {%- endif -%}

            {%- if accepted_groupchats -%}
            <div class="groupchats-item accepted">
                <h2>Group chats you're in</h2>

                <div class="groupchat-tbl tbl-item">
                    <div class="tbl-content">
                        {%- for name, chat_id, membership, owner_count in accepted_groupchats -%}
                        <div class="tbl-cont">
                            <div class="group section">
                                <div class="span1-2 tbl-item groupchat-icon"></div>
                                <div class="span2-2 tbl-item groupchat-info" style="top: -4px">
                                    <p class="groupchat-name">
                                        <strong>{{ name }}</strong>
                                    </p>

                                    <p class="groupchat-actions">
                                        <small>
                                            <em>{{ _role_to_str(membership['role']) }}</em>
                                            {% if membership['role'] != 1 or (membership['role'] == 1 and owner_count >
                                            1) %}&nbsp;|
                                            <a href="/groupchats/{{ chat_id }}/leave">Leave group</a>
                                            {% endif %}
                                            |
                                            <a href="/groupchats/{{ chat_id }}/members">View members</a>
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            {%- endif -%}
            {%- else -%}
            <h2 style="text-align: center">
                You are not in any group chats.
            </h2>
            {%- endif -%}
            {%- else -%}
            <h2 style="text-align: center">
                <a href="/login?next=/groupchats">Log in</a> to view your group chats.
            </h2>
            {%- endif -%}
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>

<style>
    .tbl-cont .section:before {
        display: none;
    }

    .tbl-cont .section:after {
        display: none;
    }

    .tbl-content {
        display: table-cell;
        vertical-align: middle;
    }

    .groupchat-tbl {
        width: 60%;
        height: 100%;
        margin-left: 1.6%;
        display: table;
    }

    .groupchat-name {
        position: relative;
        word-wrap: break-word;
        padding-left: 4px;
    }

    .groupchat-info {
        position: relative;
        width: 600px;
    }

    .tbl-cont {
        display: inline-block;
        width: 800px;
        padding-top: 15px;
    }

    .tbl-item {
        float: left;
    }

    .groupchats-item {
        position: relative;
        margin-left: 20px;
    }

    .groupchat-icon {
        background-image: url("/static/e-small.png");
        width: 32px;
        height: 32px;
    }

    .groupchat-name {
        width: 80%;
    }

    .frontend-col {
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        padding-bottom: 1em;
    }
</style>
{%- endblock -%}
