{%- extends 'base.html' -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="invite-status-text" style="text-align: center">
            <div class="invite-status-hdr" style="padding-bottom: 20px" align="center">
                <h1 class="section-caption" id="invite-revoked-h1">Invite successfully revoked!</h1>
            </div>
            <p>
                The invite for {{ email }} has been successfully revoked.<br/>You or any other owners and administrators
                can re-invite the person at any time.
            </p>
            <p id="return-p">
                <a href="/groupchats/{{ chat_id }}/members">Return to members page</a>
            </p>
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>
{%- endblock -%}