{%- extends 'base.html' -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="groupchat-action-text" style="text-align: center">
            <div class="groupchat-action" style="padding-bottom: 20px" align="center">
                <h1 class="section-caption" id="remove-success-h1">Member removed successfully</h1>
            </div>
            <p>
                Member {{ email }} has been successfully removed. If this was a mistake, then you can easily re-invite
                this person back in.
            </p>
            <p id="return-p">
                <a href="/groupchats/{{ chat_id }}/members">Return to members page</a>
            </p>
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>
{%- endblock -%}