{%- extends 'base.html' -%}

{% block head_end %}
<link rel="stylesheet" href="/static/style/login.css"/>
{% endblock %}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="register-finished-text" style="text-align: center">
            <div class="register-finished-header">
                <img src="/static/emots/emot-party-still.gif" width="30"/>
                <h2 class="section-caption" style="padding-left: 3px">Account Created!</h2>
            </div>
            <div id="account-success">
                <img src="/static/emots/emot-smile.gif" width="50"/>
                <p id="account-success-msg" style="display: inline-block; padding-left: 0.5em">
                    The Escargot account "{{ email }}" has been successfully created. <strong>Have fun!</strong>
                </p>
            </div>
            <div class="more-todo" style="padding-top: 6em; padding-bottom: 1em">
                <h2>More things to do</h2>
                <ul class="getstarted-cols" style="width: 100%">
                    <li>
                        <img src="/static/escargot-smile.png">
                        <p class="getstarted-col-text">
                            <a href="/connecting">Choose from one of our available frontends to use and start
                                chatting!</a>
                        </p>
                    </li>

                    <li>
                        <img src="/static/meetnewpeople.png">
                        <p class="getstarted-col-text">
                            Discover and meet new people on our <a href="https://discord.gg/gK2ewrt" target="_blank">Discord
                            server</a> or <a href="https://forum.nina.bz/forum-40.html" target="_blank">forum board</a>
                        </p>
                    </li>


                    <li>
                        <img src="/static/groupchats.png">
                        <p class="getstarted-col-text">
                            <a href="/groupchats">Start a group chat and invite people to start having real-time
                                discussions</a>
                        </p>
                    </li>

                    <li>
                        <img src="/static/whatsnext-news.png">
                        <p class="getstarted-col-text">
                            <a href="/news">Catch up on the latest Escargot updates</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>
<style>
    #account-success img {
        position: relative;
        vertical-align: middle;
    }
</style>
{%- endblock -%}
