{%- extends 'base.html' -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/account.css"/>
<link rel="stylesheet" href="/static/style/login.css"/>
{%- endblock -%}

{%- block content -%}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <aside class="menu">
                    <h2 class="menu-label">Options</h2>
                    <ul class="menu-list">
                        <li><a href="/account">Account Info</a></li>
                        <li><a href="/account/change-password">Change Password</a></li>
                        <li><a href="/account/puid">PUID</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div class="account-info">
                    <h1 class="title">PUID</h1>
                    <p>
                        A PUID is a value representing your internal Escargot account ID. This is only ever really
                        useful if
                        you're using the MSN frontend, especially when backing up local user content stored by WLM
                        8.1 and
                        above from your account, like Winks, emoticons, and other related content.
                        <br/><br/>
                        Your PUID has been generated below.
                    </p>
                    <div id="puid-result">
                        <strong>PUID:</strong>
                        <code id="puid-value">{{ puid }}</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endblock -%}