<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {%- block meta -%}{%- endblock -%}
    <title>
        {% if title %}{{ title }} | {% endif %}Escargot GRKB
    </title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body
        {% if msntoday %} onclick="NavPage();" {% if msn %} onload="ShowMSNToday(0);" {% endif %}{% endif %}>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1>Escargot: grkb's Fork</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarGrkb">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarGrkb" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/news">
                News
            </a>

            <a class="navbar-item" href="/frontends">
                Frontends
            </a>

            <a class="navbar-item" href="/status">
                Status
            </a>

            <a class="navbar-item" href="/downloads">
                Downloads
            </a>

            <a class="navbar-item" href="/faq">
                FAQ
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/stats">
                {{ stats['logged_in'] }} online
            </a>
            {%- if logged_in -%}
            <a class="navbar-item" href="/account">
                {{ email }}
            </a>
            <a class="navbar-item" href="/groupchats">
                Group Chats {% if pending_groupchats %}{{ pending_groupchats|length }}{% endif %}
            </a>
            {%- endif -%}
            <div class="navbar-item">
                {%- if not logged_in -%}
                <div class="buttons">
                    <a class="button is-primary" href="/register">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Log in
                    </a>
                </div>
                {%- else -%}
                <a class="button is-light" href="/logout">
                    Logout
                </a>
                {%- endif -%}
            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
<div class="footer">
    <p class="footer-menu">
        <a id="ftr-home" href="/">Home</a>
        {%- if not msntoday -%}
        {%- if not logged_in -%}
        &nbsp;&bull;
        <a id="ftr-signup" href="/register">Sign Up</a>
        {%- if not on_login -%}&nbsp;&bull;
        <a href="/forgot">Forgot Password?</a>{%- endif -%}
        {%- endif -%}
        {%- endif -%}
        &nbsp;&bull;
        <a href="/faq">FAQ</a>
        &bull;
        <a href="/thanks">Special Thanks</a>
        &bull;
        <a href="/connecting">Connecting</a>
        &bull;
        <a href="https://gitlab.com/escargot-chat" target="_blank">GitLab</a>
        &bull;
        <a href="https://gitlab.com/escargot-chat/server/-/wikis/home" target="_blank">Wiki</a>
        &bull;
        <a href="/stats">{% if stats %}{{ stats['logged_in'] }} online{% else %}Stats{% endif %}</a>
    </p>
    <div id="ftr-txt">
        <p>
            Original design by <a href="http://spriteclad.com/main.html" id="Spriteclad-link"
                                  target="_blank">Spriteclad</a>.
            Website originally coded by Maigol.
            New version by grkb.
        </p>
    </div>
</div>
</body>
</html>