{%- extends 'base.html' -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/account.css"/>
<link rel="stylesheet" href="/static/style/login.css"/>
{%- endblock -%}

{%- block content -%}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <aside class="menu">
                    <h2 class="menu-label">Options</h2>
                    <ul class="menu-list">
                        <li><a href="/account">Account Info</a></li>
                        <li><a href="/account/change-password">Change Password</a></li>
                        <li><a href="/account/puid">PUID</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                {% if errors or changed %}
                <div id="notif-account">
                    {% if errors %}
                    <div class="errors-warn">
                        <div id="errors">
                            {% if errors['password'] and errors['password'] == 'incorrect' %}
                            Current password specified is incorrect.
                            {% elif errors['password1'] %}
                            {{ errors['password1'] }}
                            {% elif errors['password2'] %}
                            {{ errors['password2'] }}
                            {% endif %}
                        </div>
                    </div>
                    {% elif changed %}
                    <div class="no-errors">
                        Password changed!
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="account-info">
                    <h1 class="title">Change Password</h1>
                    <p>
                        Change the password on your Escargot account. This will also affect the passwords on any
                        insecure
                        frontends you're on. However, this won't log you out on any frontends or affect valid
                        authentication
                        tokens.
                    </p>
                    <div class="change-password-form">
                        <form class="account-form" action="/account/change-password" method="post">
                            <label for="password">Current Password (6+ chars):</label>
                            <br/>
                            <input class="field" type="password" id="oldpassword" name="oldpassword" required
                                   onkeyup="verifyPasswords();" pattern=".{6,}"/>
                            <br/><br/>
                            <label for="password">New Password (6+ chars):</label>
                            <br/>
                            <input class="field" type="password" id="password1" name="password1" required
                                   onkeyup="verifyPasswords();" pattern=".{6,}"/>
                            <br/><br/>
                            <label for="password">New Password (again):</label>
                            <br/>
                            <input class="field" type="password" id="password2" name="password2" required
                                   onkeyup="verifyPasswords();" pattern=".{6,}"/>
                            <br/><br/>
                            <button type="submit" id="submitPassword" class="btn" disabled>
                                Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function verifyPasswords() {
        var oldPass = document.getElementById('oldpassword').value;
        var pass1 = document.getElementById('password1').value;
        var pass2 = document.getElementById('password2').value;

        if (oldPass.length >= 6 && pass1.length >= 6 && pass2.length >= 6) {
            document.getElementById('submitPassword').disabled = false;
            return;
        }

        document.getElementById('submitPassword').disabled = true;
    }
</script>
{%- endblock -%}