{%- extends 'base.html' -%}

{%- block meta -%}
<meta name="description"
      content="Downloads for various clients currently supported by Escargot, along with corresponding extras and patches."/>
{%- endblock -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/downloads.css?{{cache_buster}}"/>
{%- endblock -%}

{%- block content -%}
<div class="hero is-info">
    <div class="hero-body">
        <h1 class="title">Downloads</h1>
        <h2 id="downloads-p" class="subtitle">
            Download an Escargot-supported client or any related utilities from here.
        </h2>
    </div>
</div>
<section class="section">
    <article class="clients">
        <h1 class="title">Clients</h1>
        <p id="downloads-clients-p">
            While frontends are just one of the many ways to use our service, everyone has different tastes in what they
            find in a messaging client, and so we offer different ways to connect to our servers with different clients.
            <br/><br/>
            The preferred way to go is to download a pre-patched client, but if you're up for challenges or want to
            customize your installation, then unpatched options are available.
        </p>


        <article class="media">
            <figure class="media-left">
                <a href="/downloads/msn-messenger" class="image is-128x128">
                    <img src="/static/wlm-logo.png"></a>
            </figure>
            <div class="media-content">
                <strong>
                    <a href="/downloads/msn-messenger">MSN/Windows Live Messenger</a>
                </strong>
                <small>
                    1.0-8.5, 2009
                </small>
            </div>
        </article>
        <article class="media">
            <figure class="media-left">
                <a href="/downloads/yahoo-messenger" class="image is-128x128">
                    <img src="/static/yahoo-messenger-logo.png"></a>
            </figure>
            <div class="media-content">
                <strong>
                    <a href="/downloads/msn-messenger">Yahoo! Messenger</a>
                </strong>
                <small>
                    5.0-5.5
                </small>
            </div>
        </article>
    </article>

    <article class="clients">
        <h2 class="title">Misc.</h2>
        <a href="/downloads/switcher">Escargot Switcher</a>
    </article>
</section>
{%- endblock -%}