{%- extends 'base.html' -%}

{%- block meta -%}
<meta name="description"
      content="Escargot is an open-source project with the goal of supporting various chat platforms, old and new, while allowing them to communicate with each other seamlessly."/>
{%- endblock -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/index.css"/>
{%- endblock -%}

{%- block content -%}
<div class="content">
    <div class="hero is-info">
        <div class="hero-body">
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <h1 class="title">
                        One core. Many platforms.
                    </h1>

                    <p id="s1-p" class="subtitle">
                        Escargot (GRKB's fork) is a custom chat server that attempts to implement as many chat
                        platforms, or frontends, as possible and connects them to one running backend, allowing you to
                        use your account and settings on many of these frontends and talk to people on other frontends
                        almost seamlessly. All it takes is one account.
                    </p>

                    <a class="button" href="/get-started">
                        <strong id="getstarted-txt">Get started</strong>
                    </a>
                </div>
                <div class="column">
                    <figure class="image"><img src="/static/escargot-showcase.png" class="s-img" id="s1-img"/></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="columns is-vcentered">
        <div class="column is-two-thirds">
            <div class="content">
                <h1 id="s2-h" class="title">
                    "Exactly what in the world is this thing?"
                </h1>

                <p id="s2-p">
                    Originally starting life as a replacement for the now-defunct MSN Messenger servers, Escargot is now
                    an open-source chat server aiming to support as many chat protocols and systems as possible and
                    implement them as frontends. As frontends, these chat protocols and systems will then be able to
                    globally integrate accounts in our system and allow messages to be sent and received from other
                    frontends. A list of supported and planned frontends are available <a href="/frontends">here</a>.
                    <br/><br/>
                    While a work-in-progress and experimental, Escargot is perfectly usable in most cases and is even
                    preferred to from mainstream messaging services by some of our users. Creating an account is easy
                    and only takes a couple minutes, and then you have access to our federated chat-o-sphere! The <a
                        href="https://gitlab.com/escargot-chat/server" target="_blank">server</a>, <a
                        href="https://gitlab.com/escargot-chat/site" target="_blank">this site</a>, and the <a
                        href="https://gitlab.com/escargot-chat" target="_blank">components</a> used to patch clients to
                    connect to our services are also available under their own GitLab repositories. Like we said before,
                    Escargot is open source. ;)
                </p>
            </div>
        </div>

        <div class="column">
            <figure class="image"><img src="/static/s2icon.png" class="s-img" id="s2-img"/></figure>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns is-vcentered">
        <div class="column">
            <figure class="image"><img src="/static/s3icon.png" class="s-img" id="s3-img"/></figure>
        </div>

        <div class="column is-two-thirds">
            <div class="section-content">
                <h1 id="s3-h" class="title">
                    "But why?"
                </h1>

                <p id="s3-p">
                    <strong>Why not?</strong> Escargot's global account integration allow you to use your favourite
                    clients on our frontends with just one account, and since the core ties the frontends together and
                    standardizes the way they can talk to each other, you can finally talk to your friends on a
                    messaging platform different from your preferred ones without having to accommodate. Not only that,
                    but your account's settings will integrate seamlessly, so remotely stored personal settings like
                    display pictures, persistent status messages, and contact list settings will be retained on most
                    frontends.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns is-vcentered">
        <div class="column is-two-thirds">
            <div class="section-content">
                <p id="s4-h" class="section-title">
                    "But how?"
                </p>

                <p id="s4-p">
                    <strong>Escargot</strong> is written in Python, and by design, it's an extensible chat framework
                    that utilizes any frontends that you add to it. In the case of emulating existing chat protocols, we
                    can't restore everything back to the way their original implementations were. And regardless, there
                    can be bugs in usability or messaging on any of the frontends. We might also not support a frontend
                    you really want, be it a protocol/the client(s) supporting said protocol or a feature you're really
                    looking forward to, but eventually we might support it.
                    <br/><br/>
                    You can either keep an eye out on the site for when a new frontend goes live or go to the server's
                    repository on <a href="https://gitlab.com/escargot-chat/server" target="_blank">GitLab</a> and read
                    our contribution guide to get started on supporting protocols and frontends not currently available.
                    We have a <a href="https://gitlab.com/escargot-chat/server/-/wikis/home" target="_blank">wiki</a>
                    where we put any information about Escargot and its frontends on, and we also have a detailed <a
                        href="https://gitlab.com/escargot-chat/server/-/wikis/wishlist" target="_blank">wishlist</a>
                    with things we're actively searching for to complement or improve Escargot with.
                    <br/><br/>
                    We've had several people on our GitLab team and elsewhere <a href="/thanks">help us</a> with the
                    project when things got rough, regardless of whether they touched the code or not. Without them,
                    Escargot wouldn't be as powerful as it is today.
                </p>
            </div>
        </div>

        <div class="column">
            <figure class="image"><img src="/static/s4icon.png" class="s-img" id="s4-img"/></figure>
        </div>
    </div>
    </div>
</section>
<section class="section">
    <div class="columns is-vcentered">
        <div class="column">
            <div class="column">
                <h1 id="s5-h1" class="title">"What now?"</h1>
                <p id="s5-p">
                    Our <a href="/get-started">Get Started</a> page covers everything you need to do to settle in
                    Escargot Land.
                </p>
            </div>
        </div>
    </div>
</section>
{%- endblock -%}