{%- extends 'base.html' -%}
{%- from '_funcs.html' import section -%}

{%- block content -%}
{%- call section(title="News", id="news", subtitle="What's new?") -%}
<section class="section">
    <a href="/news/rss">
        <img src="/static/rss.png"/>
    </a>
    <div style="position: relative; margin-left: 10%; margin-right: 10%">
        {{ entries }}
    </div>
</section>
{%- endcall -%}
{%- endblock -%}
