{%- extends 'base.html' -%}

{%- from '_funcs.html' import err, section -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/forgot.css"/>
{%- endblock -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>

    <div class="group section section-default">
        <div class="header-reset" align="center">
            <h1 class="section-caption" id="reset-hdr">Reset Password</h1>
            {% if valid_token %}
            <p id="reset-valid">
                Use the form below to set a new password.
            </p>
            {% endif %}
        </div>
        {% if not valid_token %}
        <p id="reset-expired" style="padding-left: 1em">
            Sorry, that link has expired. Please <a href="/forgot">try again</a>.
        </p>
        {% endif %}

        {% if valid_token %}
        <div class="form-cont">
            {% if reset_success %}
            <div id="no-errors" class="no-errors">
                Your password has been changed.
            </div>
            {% endif %}
            {% if errors %}
            <div id="errors" class="errors-warn">
                Your password was not changed. See errors below.
            </div>
            {% endif %}

            <form class="my2" role="form" method="post">
                <div class="forgot-field">
                    <label class="field-label" for="password1">Password (6+ characters):</label>
                    <br>
                    <input class="field" type="password" name="password1" id="password1" required pattern=".{6,}"/>
                    <label for="password1">{{ err(errors, 'password1') }}</label>
                </div>
                <div class="forgot-field">
                    <label class="field-label" for="password1">Password (again):</label>
                    <br>
                    <input class="field" type="password" name="password2" id="password2" required pattern=".{6,}"/>
                    <label for="password2">{{ err(errors, 'password2') }}</label>
                    <br/><br/>
                    <button id="change-passwd" type="submit" class="btn">Change Password</button>
                </div>
            </form>
        </div>

        <style>
            .no-errors::before {
                content: none;
            }
        </style>
        {% endif %}
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>
{%- endblock -%}
