{%- extends 'base.html' -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
{%- call section("Server status", id = 'status', subtitle='Check the server status') -%}
<section class="section">
    <div class="container">
        {%- if server_status -%}
        {%- if server_status['status'] == 'ok' -%}
        <h1 id="status-online" class="title is-1 has-text-success">ONLINE</h1>
        <p id="online-desc" class="subtitle">Escargot's main server is functioning under normal conditions, and responds
            to requests in a timely fashion.<sup>1</sup></p>
        {%- elif server_status['status'] == 'slow' -%}
        <h1 id="status-slow" class="title is-1 has-text-warning">CONGESTED</h1>
        <p id="slow-desc" class="subtitle">Escargot's main server is functioning, but does not respond to requests in a
            timely manner.<sup>1</sup></p>
        {%- else -%}
        <h1 id="status-offline" class="title is-1 has-text-danger">OFFLINE</h1>
        <p id="offline-desc" class="subtitle">Escargot's main server is down and cannot accept requests at this
            time.</p>
        {%- endif -%}
        <p>Last updated: <em>{{ server_status['last_updated'].strftime('%B %d, %Y at %H:%M:%S UTC') }}</em></p>
        {%- else -%}
        <p id="status-not-loaded" class="title">Server status hasn't been loaded yet.</p>
        {%- endif -%}
        <p id="status-preface">Updated every 2 minutes</p>
    </div>

    <p>
        <sup>1</sup> Accepted normal server response times are less than 10 seconds
    </p>
    <p>
        * Connectivity is determined from MSNP's port (1863) on the main server
    </p>
    {%- endcall -%}
</section>
{%- endblock -%}