{%- extends 'base.html' -%}

{%- block meta -%}
<meta name="description" content="Statistics for Escargot service usage. Refreshes every 5 minutes."/>
{%- endblock -%}

{%- from '_funcs.html' import section -%}

{%- block content -%}
{%- call section(title="Stats", id="stats", subtitle="Stats refresh every 5 minutes.") -%}
<section class="section">
    {% if stats %}
    <h1 class="title">{{ stats['logged_in'] }} users are currently online.</h1>

    {% for hour_formatted, hour_stats in stats['by_hour'] %}
    <h2 class="subtitle">{{ hour_formatted }}</h2>

    <table class="table is-striped is-bordered is-fullwidth">
        <thead>
        <tr>
            <th rowspan="2" id="st-ver">Program/Version</th>
            <th rowspan="2" class="is-center" id="st-active">Active Users</th>
            <th colspan="2" class="txt--center" id="st-msgs">Messages</th>
        </tr>
        <tr>
            <th class="txt--center" id="st-sent">Sent</th>
            <th class="txt--center" id="st-received">Received</th>
        </tr>
        </thead>
        <tbody>
        {% for client_stats in hour_stats %}
        {% if client_stats['client_formatted'] %}
        <tr>
            <td>{{ client_stats['client_formatted'][:30] }}</td>
            <td class="txt--right">{{ client_stats['users_active'] }}</td>
            <td class="txt--right">{{ client_stats['messages_sent'] }}</td>
            <td class="txt--right">{{ client_stats['messages_received'] }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    No stats available.
    {% endif %}
</section>
{%- endcall -%}
<div class="group section">
    <div class="col span4-4 separator content-end spin180"></div>
</div>
</div>

<style type="text/css">
    @media only screen and (max-width: 830px) {
        table {
            width: 100% !important;
        }
    }
</style>
{%- endblock -%}
