{%- extends 'base.html' -%}

{%- from '_funcs.html' import download_url -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="switcher-content" align="center" style="padding-left: 5em; padding-right: 5em">
            <div class="section-switcher-text">
                <h1 class="section-caption">Escargot Switcher</h1>
                <p id="switcher-p">
                    Escargot Switcher is a DLL component we've developed for patching supported clients. Switcher
                    dynamically controls any appropriate internet requests passed and re-routes them to our servers.
                    Currently our patch only supports Windows XP and higher, but this could change in the future to
                    support older Windows versions.
                    <br/><br/>
                    If you're patching a client by yourself, then we offer the base DLL and a configuration file you can
                    modify for your targeted client. Note that when copying the configuration, make sure its file name
                    is <code>&lt;module name&gt;-escargot.ini</code>, with <code>&lt;module name&gt;</code> representing
                    the full name of the program you're patching, including extension (e.g., <code>msnmsgr.exe-escargot.ini</code>),
                    and the <code>type</code> value is appropriately set so that the client's components will be able to
                    load the Switcher component when patched.
                    <br/><br/>
                    Debug options are discussed in the <a href="/faq">FAQ</a>.
                </p>

                <div class="switcher-dl">
                    <a class="switcher-dl-link" href="{{ download_url('escargot-switcher.zip', mirrored) }}">
                        <h2>Download DLL + base configuration file (.ZIP)</h2>
                    </a>
                </div>

                <br/>
                <hr/>
                <br/>

                <div id="import-guide" style="width: 80%">
                    <h2>Importing the DLL into your target application</h2>
                    <p>
                        To import Switcher into the executable(s) of your target client, assuming you've copied them DLL
                        and INI files as specified in the patching guides, open the target executable(s) in a PE editor,
                        one that we recommend being <a href="http://www.cgsoftlabs.ro/studpe.html" target="_blank">Stud_PE</a>.
                        <br/><br/>
                        For the executables you plan to patch, find the option to import the DLL, locate where you
                        copied the DLL, and after selecting it import the function "ImportMe" from it and save changes.
                        If you're using Stud_PE, for example, you'd open the executable you want to modify in it <em>(Windows
                        7+ users, run the editor as admin first as otherwise it won't have sufficient permissions to
                        open files in restricted areas such as Program Files)</em>, go to the "Functions" tab, right
                        click on the left pane, select "Add New Import", select the DLL file in the directory you copied
                        it in, and then select the <code>ImportMe</code> function and apply changes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>

<style>
    .switcher-dl-link {
        display: inline-block;
    }
</style>
{%- endblock -%}