.account {
	height: 680px;
}

@media screen and (max-width: 830px) {
	.account			{ height: 760px }
}

@media screen and (max-width: 480px) {
	.account			{ height: 940px }
}

.account .col {
	margin: 0 0 0 0;
}

.account-content {
	height: 100%;
	padding-right: 1em;
}

.account-info {
	padding-left: 1em;
}

.info-content {
	padding-left: 2em;
	padding-right: 2em;
}

.account-info-name {
	display: inline-block;
	vertical-align: middle;
}

.account-info-dp {
	width: 64px;
	height: 64px;
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-width: 1px;
}

#no-dp {
	font-size: 12px;
	display: inline;
}

.account-nav-links {
	position: relative;
	padding: 10px 0 20px;
	padding-left: 10px;
	font-size: 15px;
}

.account-form {
	padding-top: 2em;
}

#password-form {
	margin: 0 auto;
	margin-top: 0.5em;
}

.account-frontend-form {
	margin-left: 15px;
}
